<div class="container my-3" *ngIf="user">
    <div class="row justify-content-center align-item-center">
        <div class="col-6">
            <h1>Edit User</h1>
            <form (ngSubmit)="onEdit(f)" #f="ngForm">
                <div class="form-group my-3">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" [(ngModel)]="user.firstName" noSpace
                        aria-describedby="emailHelp" placeholder="Enter First Name" required name="first_name"
                        #first_name="ngModel">
                    <p class="help-block" *ngIf="first_name.errors?.required && first_name.touched">Please enter first
                        name</p>
                </div>
                <div class="form-group my-3">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name" noSpace
                        [(ngModel)]="user.lastName" name="last_name" required #last_name="ngModel">
                    <p class="help-block" *ngIf="last_name.errors?.required && last_name.touched">Please enter last name
                    </p>
                </div>
                <div class="form-group my-3">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Enter email" email [(ngModel)]="user.email" required name="email"
                        #email="ngModel">
                    <p class="help-block" *ngIf="email.errors?.required && email.touched">Please enter email</p>
                    <p class="help-block" *ngIf="email.errors?.email && email.touched">Please enter valid email</p>
                </div>
                <div class="form-group my-3">
                    <label for="number">Phone No.</label>
                    <input type="text" class="form-control" id="number" aria-describedby="number" minlength="10"
                        maxlength="10" numbersOnly placeholder="Enter Number" [(ngModel)]="user.phone" required
                        name="phone" #phone="ngModel">
                    <p class="help-block" *ngIf="phone.errors?.required && phone.touched">Please enter number</p>
                    <p class="help-block" *ngIf="phone.errors?.minlength && phone.touched">Please enter 10 digit</p>

                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
                <button class="btn btn-danger mx-3" routerLink="/">Cancle</button>
            </form>
        </div>
    </div>
</div>